node_modules/
dist/
build/
coverage/
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# expo
.expo/
.expo-shared/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
